<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HYFT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11FDF3711DEC1866007B2188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11FDF3821DEC1866007B2188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11FDF38D1DEC1866007B2188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
